@charset "utf-8";

$font-color: #3E3E3E;
$primary-color: #3E3E3E;
$border-color: #CECDCD;
$color-blue: #3B69FF;
$color-yellow: #FFAA3B;
$color-red: #FF4646;

html{
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Montserrat',"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",  sans-serif;
    color:$font-color;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    background: #F3F3F3;
}

img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}




// =======================
//  メディアクエリ
// =======================

$inner-width-large: 1200px;
$inner-width-small: 960px;


$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "pc": "screen and (min-width: 768px)"
);

@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  }
  

// =======================
//  共通部分
// =======================


.section{
    padding: 3.75em 0;
    width: 100%;

    @include mq('sp'){
        padding: 3em 0;
    }
}

.section__inner{
    box-sizing: content-box;
    padding: 0 40px;
    margin: 0 auto;

    @include mq("sp"){
        padding: 0 1em;
    }
}

.section__inner--large{
    max-width: $inner-width-large;
}

.section__inner--small{
    max-width: $inner-width-small;
}



.section__title{
    font-size: 2.25em;
    line-height: 1.2222;
    margin-bottom: 1.6em;
    font-weight: bold;
   

    @include mq('sp'){
        font-size: 1.875em;
        line-height: 1.3333;
        margin-bottom: 1.2em;
    }
}

.section__title--first-letter_big{
    text-transform: capitalize;
}

.section__title--left{
    text-align: left;
}

.section__title--center{
    text-align: center;
}

.section__title--white{
    color: #fff;
}


.button{
    display: inline-block;
    text-align: center;
    transition: all .3s;
    font-weight: bold;
}

.button--large{
    font-size: 1.25em;
    line-height: 1.125;
    padding: 1em 4em;
    letter-spacing: 4px;

    @include mq('sp'){
        font-size: 1.125em;
    }
}

.button--small{
    font-size: 1.125em;
    line-height: 1.4;
    padding: 0.75em 2.8em;
    letter-spacing: 0.45px;
}

.button--bg_primary{
    background: $primary-color;
    color: #fff;
    border: 1px solid #FFFFFF;
}

.button--bg_yellow{
    background: $color-yellow;
    color: #fff;
    box-shadow: 0px 3px 5px #3E3E3E33;
}

.button--color_primary{
    background: #fff;
    color: $font-color;
    border: 1px solid $primary-color;
}

.button--border_radius{
    border-radius: 10px;
}

.button--left{
    text-align: left;

    @include mq('sp'){
        text-align: center;
    }
}

.button--center{
    text-align: center;
}

.is-pc{
    @include mq('sp'){
        display: none;
    }
}

.is-sp{
    @include mq('pc'){
        display: none;
    }
}

.op-0{
    opacity: 0;
    transition: all .5s;
}

.op-1{
    opacity: 1;
}






// =======================
//  z-index
// =======================

$layer: (
  header: 100,
  modal: 80,
  drawer: 40,
  sp-menu: 35,
  floating: 30,
  default: 1
);


// =======================
//  header
// =======================

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #FFFFFF1A;
    padding: 2em 0;
    width: 100%;
    z-index: map-get($layer, header);
    

    @include mq('sp'){
        padding: 1.3em 0;
    }
}

.header__inner{
    box-sizing: content-box;
    padding: 0 1em;
    margin: 0 auto;

    @include mq('sp'){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq('sp'){
        display: none;
    }
}

.header__item{
    margin-right: 40px;
    
    &:last-of-type{
        margin-right: 0;
    }
}

.header__link{
    display: block;
    font-size: 1em;
    line-height: 1.1875;
    letter-spacing: -0.4px;
    font-weight: bold;
}

.header__link--first-letter_big{
    text-transform: capitalize;
}

.header__logo{
    font-size: 1.4375em;
    line-height: 1.2;
    font-weight: bold;
}

// ハンバーガーメニュー
.hamberger{
    z-index: 200;
    display: none;
    height: 20px;

    @include mq('sp'){
        display: block;
    }

}

.hamberger__line-wrapper {
    display: inline-block;
    width: 26px;
    height: 20px;
    cursor: pointer;
    transform: translateX(0);
    transition: transform .5s;

    &.open{
        transform: translateX(-190px);

        .hamberger__line{
            background-color: #fff;
        }
    }
}

.hamberger__line {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $primary-color;
    transition: all .5s;
    border-radius: 5px;
}

.hamberger__line:nth-of-type(1) {
    top: 0;
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(1) {
    transform: translateY(8px) rotate(-45deg);
}

.hamberger__line:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(2) {
    opacity: 0;
}

.hamberger__line:nth-of-type(3) {
    bottom: 0;
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(3) {
    transform:  translateY(-8px) rotate(45deg);
}

.hamberger-menu{
    width: 200px;
    height: 100%;
    background-color: $primary-color;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
    transform: translateX(100%);
    transition: all .5s;
}

.hamberger-menu.open {
    transform: translateX(0);
}

.hamberger-menu__item {
    padding: .2em 0;
    border-bottom: 1px solid #707070;
    display: -webkit-box; /* safari, Chrome */
    display: -moz-box;    /* Firefox */
    display: -o-box;      /* Opera */
    display: -ms-box;     /* IE */
    display: box;         /* ベンダープレフィックスなし */
    -webkit-box-align: center; /* safari, Chrome */
    -moz-box-align: center;    /* Firefox */
    -o-box-align: center;      /* Opera */
    -ms-box-align: center;     /* IE */
    box-align: center;         /* ベンダープレフィックスなし */

}

.hamberger-menu__link{
    width: 100%;
    color: #fff;
    text-decoration: none;
    padding: .8em 0 1em .8em;
}

.overlay{
    background: #000000CC;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity ease 0.5s;
    z-index: -10;
}

.overlay.open{
    opacity: .8;
    z-index: 150;
}




// メニュー開いたときに背景固定
body.fixed{
    width: 100%;
    overflow-y: hidden;
}

// =======================
//  top
// =======================

.top{
    background: url(../img/mv.png) no-repeat center / cover;
    padding: 14em 0 9.5em 0;
}

.top__inner{
    box-sizing: content-box;
    padding: 0 2.5em ;
    max-width: 1200px;
    margin: 0 auto;

    @include mq('sp'){
        padding: 0 1em;
    }
}

.top__contents{
    width: 50%;
    margin-left: auto;

    @include  mq('sp'){
        width: 100%;
    }
}

.top__title{
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.02px;

    @include mq('sp'){
        font-size: 1.5em;
    }
}

.top__desc{
    font-size: 1.125em;
    margin-bottom: 2em;
    font-weight: bold;

    @include mq('sp'){
        font-size: 0.875em;
    }
}

// =======================
//  news
// =======================

.news{

    @include mq('sp'){
        margin-top: -6.25em;
    }
}

.news__container{
    background: #fff;
    padding: 3.5em 3.75em 2.5em;
    width: 100%;
    box-shadow: 0px 5px 12px #3E3E3E33;

    @include mq('sp'){
        padding: 2.5em 0 ;
    }
}

.news__items{
    margin-bottom: 2.5em;
}

.news__item{
    border-bottom: 1px solid $border-color;

    &:first-of-type{
        border-top: 1px solid $border-color;
    }

}

.news-item__link{
    display: block;
    padding: 2em 5.2em 2em 0;
    position: relative;
    transition: all .3s;

    &::after{
        position: absolute;
        content: url(../img/news-arrow-1.svg);
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }

    &:hover{
        background: rgba(165, 195, 252, 0.5);
    }

    @include mq('sp'){
        padding: 0.875em 3.4em 0.875em 1em;
    }
}

.news-item__contents{
    display: flex;
    align-items: center;

    @include mq('sp'){
        display: block;
    }
}

.news-item__heads{
    display: flex;
    align-items: center;
    margin-right: 2.5em;

    @include mq('sp'){
        margin-bottom: 0.75em;
        margin-right: 0;
    }
}

.news-item__time-wrapper{
    width: 100px;
    margin-right: 2.5em;

    @include mq('sp'){
        margin-right: 1.5em;
    }
}

.news-item__time{
    font-size: 1.125em;
    display: block;
    letter-spacing: 0.45px;

    @include mq('sp'){
        font-size: 0.875em;
    }
}

.news-item__title{
    width: 120px;
    font-size: 0.875em;
    text-align: center;
    padding: 0.15em 2em ;
    border: 2px solid $color-blue;
    border-radius: 50px;

    @include mq('sp'){
        font-size: 0.75em;
    }
}

.news-item__content{
    flex: 0 2 calc(100% - 260px);
    font-weight: 1.125em;

    @include mq('sp'){
        font-size: 0.875em;
        width: 100%;
    }
}

// =======================
//  service
// =======================

.service{
    background:linear-gradient(180deg, $primary-color 0%,$primary-color 70%,transparent 70%,transparent 100%);

    @include mq('sp'){
    background:linear-gradient(180deg, $primary-color 0%,$primary-color 50%,transparent 50%,transparent 100%);
    }
}

.service__items{
    background: #fff;
    padding: 3.75em 2.8em;
    display: flex;
    box-shadow: 0px 5px 12px #3E3E3E33;

    @include mq('sp'){
        padding: 2.5em 1em;
        display: block;
    }
}

.service__item{
    flex: 0 1 calc(33.3333% - 60px);
    margin-right: 5.625em;

    &:last-of-type{
        margin-right: 0;
    }

    @include mq('sp'){
        margin-right: 0;
        width: 100%;
        margin-bottom: 2.5em;
    }
}



.service-item__img-wrapper{
    width: 45px;
    margin: 0 auto 0.5em;

}

.service-item__img{
    
}

.service-item__title{
    margin-bottom: 1em;
    font-size: 1.25em;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;

}

.service-item__desc{
    font-size: 0.875em;

}

// =======================
//  access
// =======================

.access{
}

.access__contents-wrapper{
    display: flex;
    align-items: flex-start;

    @include mq('sp'){
        display: block;
    }
}

.access__contents{
    flex: 0 2 36%;
    margin-right: 3.5%;
    padding-left: 60px;
    color: #fff;

    @include mq('sp'){
        padding-left: 0;
        margin-right: 0;
        margin-bottom: 1.5em;
    }
}

.access__map-container{
    flex: 0 1 60.5%;

    @include mq('sp'){
        width: 100%;
        margin-bottom: 1.5em;
    }
}

.access__map-wrapper{
    position: relative;
    padding-top: 71.63%;
    width: 100%;
    height: 100%;

    @include mq('sp'){
        padding-top: 70.26%;
    }
}

.access__map{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: none;
}

