@charset "UTF-8";
html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat',"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",  sans-serif;
  color: #3E3E3E;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  background: #F3F3F3;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.section {
  padding: 3.75em 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .section {
    padding: 3em 0;
  }
}

.section__inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 40px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .section__inner {
    padding: 0 1em;
  }
}

.section__inner--large {
  max-width: 1200px;
}

.section__inner--small {
  max-width: 960px;
}

.section__title {
  font-size: 2.25em;
  line-height: 1.2222;
  margin-bottom: 1.6em;
}

@media screen and (max-width: 767px) {
  .section__title {
    font-size: 1.875em;
    line-height: 1.3333;
    margin-bottom: 1.2em;
  }
}

.button {
  display: inline-block;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-weight: bold;
}

.button--large {
  font-size: 1.25em;
  line-height: 1.125;
  padding: 1em 4em;
  letter-spacing: 4px;
}

.button--small {
  font-size: 1.125em;
  line-height: 1.625;
  padding: 0.75em 2.8em;
  letter-spacing: 0.45px;
}

.button--bg_primary {
  background: #3E3E3E;
  color: #fff;
  border: 1px solid #FFFFFF;
}

.button--bg_yellow {
  background: #FFAA3B;
  color: #fff;
}

.button--color_primary {
  background: #fff;
  color: #3E3E3E;
  border: 1px solid #3E3E3E;
}

.button--border_radius {
  border-radius: 10px;
}

.button--left {
  text-align-last: left;
}

.button--right {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

.op-0 {
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.op-1 {
  opacity: 1;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  padding: 2em 0;
  width: 100%;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 1.3em 0;
  }
}

.header__inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 1em;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

.header__item {
  margin-right: 40px;
}

.header__item:last-of-type {
  margin-right: 0;
}

.header__link {
  display: block;
  font-size: 1em;
  line-height: 1.1875;
  letter-spacing: -0.4px;
  font-weight: bold;
}

.header__link--first-letter_big {
  text-transform: capitalize;
}

.header__logo {
  font-size: 1.4375em;
  line-height: 1.2;
  font-weight: bold;
}

.hamberger {
  z-index: 200;
  display: none;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .hamberger {
    display: block;
  }
}

.hamberger__line-wrapper {
  display: inline-block;
  width: 26px;
  height: 20px;
  cursor: pointer;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.hamberger__line-wrapper.open {
  -webkit-transform: translateX(-190px);
          transform: translateX(-190px);
}

.hamberger__line-wrapper.open .hamberger__line {
  background-color: #fff;
}

.hamberger__line {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #3E3E3E;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 5px;
}

.hamberger__line:nth-of-type(1) {
  top: 0;
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(1) {
  -webkit-transform: translateY(8px) rotate(-45deg);
          transform: translateY(8px) rotate(-45deg);
}

.hamberger__line:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(2) {
  opacity: 0;
}

.hamberger__line:nth-of-type(3) {
  bottom: 0;
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(3) {
  -webkit-transform: translateY(-8px) rotate(45deg);
          transform: translateY(-8px) rotate(45deg);
}

.hamberger-menu {
  width: 200px;
  height: 100%;
  background-color: #3E3E3E;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 300;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hamberger-menu.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hamberger-menu__item {
  padding: .2em 0;
  border-bottom: 1px solid #707070;
  display: -webkit-box;
  /* safari, Chrome */
  display: -moz-box;
  /* Firefox */
  display: -o-box;
  /* Opera */
  display: -ms-box;
  /* IE */
  display: box;
  /* ベンダープレフィックスなし */
  -webkit-box-align: center;
  /* safari, Chrome */
  /* Firefox */
  -o-box-align: center;
  /* Opera */
  -ms-box-align: center;
  /* IE */
  box-align: center;
  /* ベンダープレフィックスなし */
}

.hamberger-menu__link {
  width: 100%;
  color: #fff;
  text-decoration: none;
  padding: .8em 0 1em .8em;
}

.overlay {
  background: #000000CC;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
  z-index: -10;
}

.overlay.open {
  opacity: .8;
  z-index: 150;
}

body.fixed {
  width: 100%;
  overflow-y: hidden;
}
/*# sourceMappingURL=style.css.map */