@charset "UTF-8";
html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat',"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",  sans-serif;
  color: #3E3E3E;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  background: #F3F3F3;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.section {
  padding: 3.75em 0;
}

@media screen and (max-width: 767px) {
  .section {
    padding: 3em 0;
  }
}

.section__inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 40px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .section__inner {
    padding: 0 1em;
  }
}

.section__inner--large {
  max-width: 1200px;
}

.section__inner--small {
  max-width: 960px;
}

.section__title {
  font-size: 2.25em;
  line-height: 1.2222;
  margin-bottom: 1.6em;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .section__title {
    font-size: 1.875em;
    line-height: 1.3333;
    margin-bottom: 1.2em;
  }
}

.section__title--first-letter_big {
  text-transform: capitalize;
}

.section__title--left {
  text-align: left;
}

.section__title--center {
  text-align: center;
}

.section__title--white {
  color: #fff;
}

.button {
  display: inline-block;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-weight: bold;
}

.button--large {
  font-size: 1.25em;
  line-height: 1.125;
  padding: 1em 4em;
  letter-spacing: 4px;
}

@media screen and (max-width: 767px) {
  .button--large {
    font-size: 1.125em;
    width: 100%;
  }
}

.button--small {
  font-size: 1.125em;
  line-height: 1.4;
  padding: 0.75em 2.8em;
  letter-spacing: 0.45px;
}

.button--bg_primary {
  background: #3E3E3E;
  color: #fff;
  border: 1px solid #FFFFFF;
}

.button--bg_yellow {
  background: #FFAA3B;
  color: #fff;
  -webkit-box-shadow: 0px 3px 5px #3E3E3E33;
          box-shadow: 0px 3px 5px #3E3E3E33;
}

.button--color_primary {
  background: #fff;
  color: #3E3E3E;
  border: 1px solid #3E3E3E;
}

.button--border_radius {
  border-radius: 10px;
}

.button--left {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .button--left {
    text-align: center;
  }
}

.button--center {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

.op-0 {
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.op-1 {
  opacity: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FFFFFF1A;
  padding: 2em 0;
  width: 100%;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 1.3em 0;
  }
}

.header__inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 1em;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

.header__item {
  margin-right: 40px;
}

.header__item:last-of-type {
  margin-right: 0;
}

.header__link {
  display: block;
  font-size: 1em;
  line-height: 1.1875;
  letter-spacing: -0.4px;
  font-weight: bold;
}

.header__link--first-letter_big {
  text-transform: capitalize;
}

.header__logo {
  font-size: 1.4375em;
  line-height: 1.2;
  font-weight: bold;
}

.hamberger {
  z-index: 200;
  display: none;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .hamberger {
    display: block;
  }
}

.hamberger__line-wrapper {
  display: inline-block;
  width: 26px;
  height: 20px;
  cursor: pointer;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.hamberger__line-wrapper.open {
  -webkit-transform: translateX(-187px);
          transform: translateX(-187px);
}

.hamberger__line-wrapper.open .hamberger__line {
  background-color: #fff;
  z-index: 500;
}

.hamberger__line {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #3E3E3E;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 5px;
}

.hamberger__line:nth-of-type(1) {
  top: 0;
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(1) {
  -webkit-transform: translateY(8px) rotate(-45deg);
          transform: translateY(8px) rotate(-45deg);
}

.hamberger__line:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(2) {
  opacity: 0;
}

.hamberger__line:nth-of-type(3) {
  bottom: 0;
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(3) {
  -webkit-transform: translateY(-8px) rotate(45deg);
          transform: translateY(-8px) rotate(45deg);
}

.hamberger-menu {
  width: 200px;
  height: 100%;
  background-color: #3E3E3E;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 300;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hamberger-menu.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hamberger-menu__item {
  padding: .2em 0;
  border-bottom: 1px solid #707070;
  display: -webkit-box;
  /* safari, Chrome */
  display: -moz-box;
  /* Firefox */
  display: -o-box;
  /* Opera */
  display: -ms-box;
  /* IE */
  display: box;
  /* ベンダープレフィックスなし */
  /* safari, Chrome */
  /* Firefox */
  -o-box-align: center;
  /* Opera */
  -ms-box-align: center;
  /* IE */
  box-align: center;
  /* ベンダープレフィックスなし */
}

.hamberger-menu__link {
  width: 100%;
  color: #fff;
  text-decoration: none;
  padding: .8em 0 1em .8em;
}

.overlay {
  background: #000000CC;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
  z-index: -10;
}

.overlay.open {
  opacity: .8;
  z-index: 10;
}

body.fixed {
  width: 100%;
  overflow-y: hidden;
}

.top {
  background: url(../img/mv.png) no-repeat center/cover;
  padding: 14em 0 9.5em 0;
}

.top__inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 2.5em;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .top__inner {
    padding: 0 1em;
  }
}

.top__contents {
  width: 50%;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .top__contents {
    width: 100%;
  }
}

.top__title {
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.02px;
}

@media screen and (max-width: 767px) {
  .top__title {
    font-size: 1.5em;
  }
}

.top__desc {
  font-size: 1.125em;
  margin-bottom: 2em;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .top__desc {
    font-size: 0.875em;
  }
}

@media screen and (max-width: 767px) {
  .news {
    margin-top: -6.25em;
  }
}

.news__container {
  background: #fff;
  padding: 3.5em 3.75em 2.5em;
  width: 100%;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E33;
          box-shadow: 0px 5px 12px #3E3E3E33;
}

@media screen and (max-width: 767px) {
  .news__container {
    padding: 2.5em 0;
  }
}

.news__items {
  margin-bottom: 2.5em;
}

.news__item {
  border-bottom: 1px solid #CECDCD;
}

.news__item:first-of-type {
  border-top: 1px solid #CECDCD;
}

.news-item__link {
  display: block;
  padding: 2em 5.2em 2em 0;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.news-item__link::after {
  position: absolute;
  content: url(../img/news-arrow-1.svg);
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news-item__link:hover {
  background: rgba(165, 195, 252, 0.5);
}

@media screen and (max-width: 767px) {
  .news-item__link {
    padding: 0.875em 3.4em 0.875em 1em;
  }
}

.news-item__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .news-item__contents {
    display: block;
  }
}

.news-item__heads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2.5em;
}

@media screen and (max-width: 767px) {
  .news-item__heads {
    margin-bottom: 0.75em;
    margin-right: 0;
  }
}

.news-item__time-wrapper {
  width: 100px;
  margin-right: 2.5em;
}

@media screen and (max-width: 767px) {
  .news-item__time-wrapper {
    margin-right: 1.5em;
  }
}

.news-item__time {
  font-size: 1.125em;
  display: block;
  letter-spacing: 0.45px;
}

@media screen and (max-width: 767px) {
  .news-item__time {
    font-size: 0.875em;
  }
}

.news-item__title {
  width: 120px;
  font-size: 0.875em;
  text-align: center;
  padding: 0.15em 2em;
  border: 2px solid #3B69FF;
  border-radius: 50px;
}

@media screen and (max-width: 767px) {
  .news-item__title {
    font-size: 0.75em;
  }
}

.news-item__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 calc(100% - 260px);
          flex: 0 2 calc(100% - 260px);
  font-weight: 1.125em;
}

@media screen and (max-width: 767px) {
  .news-item__content {
    font-size: 0.875em;
    width: 100%;
  }
}

.service {
  background: -webkit-gradient(linear, left top, left bottom, from(#3E3E3E), color-stop(70%, #3E3E3E), color-stop(70%, transparent), to(transparent));
  background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 70%, transparent 70%, transparent 100%);
}

@media screen and (max-width: 767px) {
  .service {
    background: -webkit-gradient(linear, left top, left bottom, from(#3E3E3E), color-stop(50%, #3E3E3E), color-stop(50%, transparent), to(transparent));
    background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 50%, transparent 50%, transparent 100%);
  }
}

.service__items {
  background: #fff;
  padding: 3.75em 2.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E33;
          box-shadow: 0px 5px 12px #3E3E3E33;
}

@media screen and (max-width: 767px) {
  .service__items {
    padding: 2.5em 1em;
    display: block;
  }
}

.service__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.3333% - 60px);
          flex: 0 1 calc(33.3333% - 60px);
  margin-right: 5.625em;
}

.service__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .service__item {
    margin-right: 0;
    width: 100%;
    margin-bottom: 2.5em;
  }
}

.service-item__img-wrapper {
  width: 45px;
  margin: 0 auto 0.5em;
}

.service-item__title {
  margin-bottom: 1em;
  font-size: 1.25em;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.service-item__desc {
  font-size: 0.875em;
}

.results {
  margin-left: 2.5em;
}

@media screen and (max-width: 767px) {
  .results {
    margin-left: 0;
  }
}

.results__inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #3E3E3E;
  padding: 3.75em 0 3.75em 3.75em;
}

@media screen and (max-width: 767px) {
  .results__inner {
    padding: 2.5em 0 2.5em 1em;
  }
}

@media screen and (max-width: 767px) {
  .results__title {
    text-align: center;
  }
}

.result-items__wrapper {
  margin-bottom: 2.5em;
}

@media screen and (max-width: 767px) {
  .result-items__wrapper {
    margin-bottom: 1.5em;
  }
}

.result-item__link {
  display: block;
}

.result-item__body {
  background: #fff;
  padding: 1em;
}

.result-item__title {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.55em;
}

@media screen and (max-width: 767px) {
  .result-item__title {
    font-size: 0.875em;
    margin-bottom: 0.7em;
  }
}

@media screen and (max-width: 767px) {
  .result-item__desc {
    font-size: 0.75em;
  }
}

.swiper-pagination {
  position: static;
  text-align: left;
}

.results__pagination {
  margin-bottom: 2.5em;
}

@media screen and (max-width: 767px) {
  .results__pagination {
    text-align: center;
    margin-bottom: 1.5em;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  margin-right: 1em;
  position: relative;
  opacity: 0.9;
}

.swiper-pagination-bullet:focus {
  outline: none;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.results__button-wrapper {
  padding: 0 1.875em;
}

.price__table {
  width: 100%;
  table-layout: fixed;
  border: 1px solid #CECDCD;
  border-collapse: collapse;
  background: #fff;
  margin-bottom: 0.75em;
}

.price-table__header, .price-table__data {
  padding: 0.7em 1.67em;
  border: 1px solid #CECDCD;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .price-table__header, .price-table__data {
    font-size: 1.25em;
    padding: 0.8em 1em;
  }
}

.price-table__header {
  background: #3E3E3E;
  color: #fff;
  text-align: center;
  width: 260px;
}

@media screen and (max-width: 767px) {
  .price-table__header {
    width: 100px;
  }
}

.price__desc {
  font-size: 0.75em;
}

.comments__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .comments__wrapper {
    display: block;
  }
}

.comments__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55.5%;
          flex: 0 1 55.5%;
  background: #fff;
  padding: 7.5em 3.75em;
  -webkit-box-shadow: 0px 0px 10px #00000029;
          box-shadow: 0px 0px 10px #00000029;
}

@media screen and (max-width: 767px) {
  .comments__box {
    padding: 2.5em 1.25em;
  }
}

.comment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.75em;
}

.comment-item:last-of-type {
  margin-bottom: 0;
}

.comment-item__img-element {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  margin-right: 2em;
}

@media screen and (max-width: 767px) {
  .comment-item__img-element {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60px;
            flex: 0 1 60px;
    margin-right: 1.25em;
  }
}

.comment-item__img-wrapper {
  padding-top: 100%;
  position: relative;
}

.comment-item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.comment-item__comment-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 132px);
          flex: 0 1 calc(100% - 132px);
}

@media screen and (max-width: 767px) {
  .comment-item__comment-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% - 80px);
            flex: 0 1 calc(100% - 80px);
  }
}

.comments__img-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 44.5%;
          flex: 0 1 44.5%;
}

.faqs {
  background: url(../img/qa-bg.png) no-repeat center/cover;
  background-attachment: fixed;
}

.faqs__items {
  width: 51%;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .faqs__items {
    width: 100%;
  }
}

.faq-item {
  margin-bottom: 2em;
  background: #fff;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .faq-item {
    margin-bottom: 1.5em;
  }
}

.faq-item__question-wrapper {
  padding: 1em;
  border-radius: 4px;
}

.faq-item__question {
  padding-left: 35px;
  padding-right: 20px;
  font-weight: bold;
  position: relative;
}

.faq-item__question::before {
  position: absolute;
  content: "Q";
  top: 50%;
  left: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  color: #fff;
  background: #3B69FF;
  border-radius: 50%;
  text-align: center;
}

.faq-item__icon-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.faq-item__icon {
  vertical-align: middle;
}

.faq-item__answer-wrapper {
  padding: 1em;
  display: none;
}

.faq-item__answer {
  padding: 1em;
  background: #3B69FF33;
  border-radius: 4px;
}

.access__contents-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .access__contents-wrapper {
    display: block;
  }
}

.access__contents {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 36%;
          flex: 0 2 36%;
  margin-right: 3.5%;
  padding-left: 60px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .access__contents {
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 1.5em;
  }
}

.access__map-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60.5%;
          flex: 0 1 60.5%;
}

@media screen and (max-width: 767px) {
  .access__map-container {
    width: 100%;
    margin-bottom: 1.5em;
  }
}

.access__map-wrapper {
  position: relative;
  padding-top: 71.63%;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .access__map-wrapper {
    padding-top: 70.26%;
  }
}

.access__map {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: none;
}

.contact {
  background: url(../img/contact-bg.png) no-repeat center/cover;
  padding: 3.75em 0;
}

.form__heading {
  background: url(../img/contact1.png) no-repeat center/cover;
  padding: 3.75em 0;
  border-radius: 12px 12px 0px 0px;
}

.form__title {
  margin-bottom: 0.4em;
}

.form__desc {
  color: #fff;
  text-align: center;
}

.form__body {
  background: #fff;
  padding: 3.75em 7.5em;
  border-radius: 0 0 12px 12px;
}

@media screen and (max-width: 767px) {
  .form__body {
    padding: 2.5em 0.75em;
  }
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}

@media screen and (max-width: 767px) {
  .form-item {
    display: block;
  }
}

.form-item--display_block {
  display: block;
}

.form-item__label-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 150px;
          flex: 0 1 150px;
  margin-right: 2.375em;
}

@media screen and (max-width: 767px) {
  .form-item__label-wrapper {
    margin-right: 0;
    margin-bottom: 0.5em;
  }
}

.form-item__label {
  font-weight: bold;
}

.form-item__label--required {
  padding-right: 3.25em;
  position: relative;
}

.form-item__label--required::after {
  content: "必須";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  background: #FF4646;
  width: 40px;
  text-align: center;
  font-size: 0.75em;
  padding: 1px 4px;
  border-radius: 2px;
}

.form-item__input-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 188px);
          flex: 0 1 calc(100% - 188px);
}

.form-item__pull-down {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(https://haniwaman.com/wp/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 178px;
}

@media screen and (max-width: 767px) {
  .form-item__pull-down {
    width: 100%;
  }
}

.form-item__pull-down:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-item__pull-down::-ms-expand {
  display: none;
}

.form-item__input {
  width: 100%;
  padding: .5em .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: none;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 100%;
  display: block;
  border-bottom: 1px solid #CECDCD;
}

.form-item__input::-webkit-input-placeholder {
  font-size: 0.875em;
}

.form-item__input:-ms-input-placeholder {
  font-size: 0.875em;
}

.form-item__input::-ms-input-placeholder {
  font-size: 0.875em;
}

.form-item__input::placeholder {
  font-size: 0.875em;
}

@media screen and (max-width: 767px) {
  .form-item__input {
    padding: .2em 0;
  }
}

.form-item__radio-wrapper {
  margin-right: 2em;
}

.form-item__radio-wrapper:last-of-type {
  margin-right: 0;
}

.form-item__radio {
  display: none;
}

.form-item__radio-label {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 1.2em;
  position: relative;
}

.form-item__radio-label::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  content: "";
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
}

.form-item__radio-label::after {
  -webkit-transform: translateY(-50%);
  background: #3B69FF;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 6px;
  left: 3px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 6px;
}

.form-item__radio:checked + .form-item__radio-label::after {
  opacity: 1;
}

.form-item__textarea {
  width: 100%;
  padding: .5em .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 200px;
  display: block;
  border: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .form-item__textarea {
    height: 160px;
  }
}

.form__agree-wrapper {
  margin-bottom: 2.5em;
}

@media screen and (max-width: 767px) {
  .form__agree-wrapper {
    margin-bottom: 1.5em;
  }
}

.form__agree-input {
  display: none;
}

.form__agree-input:checked + .form__agree-label::after {
  opacity: 1;
}

.form__agree-label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  font-weight: bold;
}

.form__agree-label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .form__agree-label::before {
    width: 18px;
    height: 18px;
  }
}

.form__agree-label::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 2px solid #3B69FF;
  border-left: 2px solid #3B69FF;
  content: "";
  display: block;
  height: 8px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 14px;
}

.form__end-message {
  display: none;
  padding: 1em 0;
  background: #f8f9fa;
  font-size: 1.125em;
  text-align: center;
}

.form__false-message {
  display: none;
  padding: 1em 0;
  background: #f8f9fa;
  font-size: 1.125em;
  text-align: center;
  color: #ff0000;
}

.footer {
  background-color: #3E3E3E;
  color: #fff;
  padding: 3.75em 0;
}

.footer__inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 1em;
  margin: 0 auto;
  max-width: 960px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer__container {
    display: block;
    text-align: center;
  }
}

.footer__sns-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5em;
}

@media screen and (max-width: 767px) {
  .footer__sns-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__sns-item {
  margin-right: 2em;
}

.footer__sns-item:last-of-type {
  margin-right: 0;
}

.footer__sns-link {
  display: block;
}

.footer__sns-icon {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .footer__menu {
    margin-bottom: 2.5em;
  }
}

.footer__item {
  margin-bottom: 1em;
  letter-spacing: .4px;
}

.footer__item:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .footer__item {
    margin-bottom: 1.25em;
  }
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 0.875em;
  }
}

.footer__heading {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer__heading {
    text-align: center;
  }
}

.footer__name {
  font-size: 2.5em;
  color: #E3E3E3;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .footer__name {
    font-size: 2em;
  }
}

.footer__copyright {
  font-size: 0.75em;
  opacity: .6;
}

.totop-button-wrapper {
  position: fixed;
  right: 2.5em;
  bottom: 2.5em;
}

@media screen and (max-width: 767px) {
  .totop-button-wrapper {
    right: 1em;
    bottom: 0.81em;
  }
}
/*# sourceMappingURL=style.css.map */