@charset "utf-8";

$font-color: #3E3E3E;
$primary-color: #3E3E3E;
$border-color: #CECDCD;
$color-blue: #3B69FF;
$color-yellow: #FFAA3B;
$color-red: #FF4646;

html{
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Montserrat',"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",  sans-serif;
    color:$font-color;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    background: #F3F3F3;
}

img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}




// =======================
//  メディアクエリ
// =======================

$inner-width-large: 1200px;
$inner-width-small: 960px;


$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "pc": "screen and (min-width: 768px)"
);

@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  }
  

// =======================
//  共通部分
// =======================


.section{
    padding: 3.75em 0;

    @include mq('sp'){
        padding: 3em 0;
    }
}

.section__inner{
    box-sizing: content-box;
    padding: 0 40px;
    margin: 0 auto;

    @include mq("sp"){
        padding: 0 1em;
    }
}

.section__inner--large{
    max-width: $inner-width-large;
}

.section__inner--small{
    max-width: $inner-width-small;
}



.section__title{
    font-size: 2.25em;
    line-height: 1.2222;
    margin-bottom: 1.75em;
    font-weight: bold;
   

    @include mq('sp'){
        font-size: 1.875em;
        line-height: 1.3333;
        margin-bottom: 1.2em;
    }
}

.section__title--first-letter_big{
    text-transform: capitalize;
}

.section__title--left{
    text-align: left;
}

.section__title--center{
    text-align: center;
}

.section__title--white{
    color: #fff;
}


.button{
    display: inline-block;
    text-align: center;
    transition: all .3s;
    font-weight: bold;
}

.button--large{
    font-size: 1.25em;
    line-height: 1.125;
    padding: 1em 4em;
    letter-spacing: 4px;

    @include mq('sp'){
        font-size: 1.125em;
    }
}

.button--small{
    font-size: 1.125em;
    line-height: 1.4;
    padding: 0.75em 2.8em;
    letter-spacing: 0.45px;

    @include mq('sp'){
        font-size: 1em;
    }
}

.button--bg_primary{
    background: $primary-color;
    color: #fff;
    border: 1px solid #FFFFFF;
    transition:  all .3s;

    &:hover{
        background: #fff;
        color: $font-color;
        border: 1px solid #707070;
    }
}

.button--bg_yellow{
    background: $color-yellow;
    color: #fff;
    box-shadow: 0px 3px 5px #3E3E3E33;
    transition:  all .3s;

    &:hover{
        background: #F18900;
    }
}

.button--color_primary{
    background: #fff;
    color: $font-color;
    border: 1px solid $primary-color;
    transition:  all .3s;

    &:hover{
        color: #fff;
        background: $primary-color;
    }
}

.button--border_radius{
    border-radius: 10px;
}

.button--left{
    text-align: left;

    @include mq('sp'){
        text-align: center;
    }
}

.button--center{
    text-align: center;
}

.is-pc{
    @include mq('sp'){
        display: none;
    }
}

.is-sp{
    @include mq('pc'){
        display: none;
    }
}

.op-0{
    opacity: 0;
    transition: all .5s;
}

.op-1{
    opacity: 1;
}






// =======================
//  z-index
// =======================

$layer: (
  header: 100,
  modal: 80,
  drawer: 40,
  sp-menu: 35,
  floating: 30,
  default: 1
);


// =======================
//  header
// =======================

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #FFFFFF1A;
    padding: 2em 0;
    width: 100%;
    z-index: map-get($layer, header);
    

    @include mq('sp'){
        padding: 1.3em 0;
    }
}

.header__inner{
    box-sizing: content-box;
    padding: 0 1em;
    margin: 0 auto;

    @include mq('sp'){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq('sp'){
        display: none;
    }
}

.header__item{
    margin-right: 40px;
    
    &:last-of-type{
        margin-right: 0;
    }
}

.header__link{
    display: block;
    font-size: 1em;
    line-height: 1.1875;
    letter-spacing: -0.4px;
    font-weight: bold;
    border: 1px solid transparent;
    padding-bottom: 0.8px;
    transition: all ease .3s;

    &:hover{
        border-bottom: 1px solid #3E3E3E;
    }
}

.header__link--first-letter_big{
    text-transform: capitalize;
}

.header__logo{
    font-size: 1.4375em;
    line-height: 1.2;
    font-weight: bold;
}

// ハンバーガーメニュー
.hamberger{
    z-index: 200;
    display: none;
    height: 20px;

    @include mq('sp'){
        display: block;
    }

}

.hamberger__line-wrapper {
    display: inline-block;
    width: 26px;
    height: 20px;
    cursor: pointer;
    transform: translateX(0);
    transition: transform .5s;

    &.open{
        transform: translateX(-190px);

        .hamberger__line{
            background-color: #fff;
            z-index: 500;
        }
    }
}

.hamberger__line {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $primary-color;
    transition: all .5s;
    border-radius: 5px;

}

.hamberger__line:nth-of-type(1) {
    top: 0;
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(1) {
    transform: translateY(8px) rotate(-45deg);
}

.hamberger__line:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(2) {
    opacity: 0;
}

.hamberger__line:nth-of-type(3) {
    bottom: 0;
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(3) {
    transform:  translateY(-8px) rotate(45deg);
}

.hamberger-menu{
    width: 200px;
    height: 100%;
    background-color: $primary-color;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
    transform: translateX(100%);
    transition: all .5s;
}

.hamberger-menu.open {
    transform: translateX(0);
}

.hamberger-menu__item {
    padding: .2em 0;
    border-bottom: 1px solid #707070;
    display: -webkit-box; /* safari, Chrome */
    display: -moz-box;    /* Firefox */
    display: -o-box;      /* Opera */
    display: -ms-box;     /* IE */
    display: box;         /* ベンダープレフィックスなし */ /* safari, Chrome */    /* Firefox */
    -o-box-align: center;      /* Opera */
    -ms-box-align: center;     /* IE */
    box-align: center;         /* ベンダープレフィックスなし */

}

.hamberger-menu__link{
    width: 100%;
    color: #fff;
    text-decoration: none;
    padding: .8em 0 1em .8em;
}

.overlay{
    background: #000000CC;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity ease 0.5s;
    z-index: -10;
}

.overlay.open{
    opacity: .8;
    z-index: 10;
}




// メニュー開いたときに背景固定
body.fixed{
    width: 100%;
    overflow-y: hidden;
}

// =======================
//  top
// =======================

.top{
    background: url(../img/mv.png) no-repeat center / cover;
    padding: 14em 0 9.5em 0;
    margin-bottom: 3.75em;

    @include mq('sp'){
        margin-bottom: 0;
        background: url(../img/mv.png) no-repeat 0% center / cover;
    }
}

.top__inner{
    box-sizing: content-box;
    padding: 0 2.5em ;
    max-width: 1200px;
    margin: 0 auto;

    @include mq('sp'){
        padding: 0 1em;
    }
}

.top__contents{
    width: 50%;
    margin-left: auto;

    @include  mq('sp'){
        width: 100%;
    }
}

.top__title{
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.02px;

    @include mq('sp'){
        font-size: 1.5em;
    }
}

.top__desc{
    font-size: 1.125em;
    margin-bottom: 2em;
    font-weight: bold;

    @include mq('sp'){
        font-size: 0.875em;
    }
}

// =======================
//  news
// =======================

.news{
    margin-bottom: 3.75em;

    @include mq('sp'){
        margin-top: -6.25em;
        margin-bottom: 4.5em;
    }
}

.news__container{
    background: #fff;
    padding: 3.875em 3.75em 2.5em;
    width: 100%;
    box-shadow: 0px 5px 12px #3E3E3E33;

    @include mq('sp'){
        padding: 2.5em 0 ;
    }
}

.news__items{
    margin-bottom: 2.5em;
}

.news__item{
    border-bottom: 1px solid $border-color;

    &:first-of-type{
        border-top: 1px solid $border-color;
    }

}

.news-item__link{
    display: block;
    padding: 2.5em 5.2em 2.5em 0;
    position: relative;
    transition: all .3s;

    &::after{
        position: absolute;
        content: url(../img/news-arrow-1.svg);
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }

    &:hover{
        background: rgba(165, 195, 252, 0.5);
    }

    @include mq('sp'){
        padding: 0.875em 3.4em 0.875em 1em;
    }
}

.news-item__contents{
    display: flex;
    align-items: center;

    @include mq('sp'){
        display: block;
    }
}

.news-item__heads{
    flex: 0 0 260px;
    display: flex;
    align-items: center;
    margin-right: 2.5em;

    @include mq('sp'){
        margin-bottom: 0.75em;
        margin-right: 0;
    }

    @media all and (-ms-high-contrast: none) {
        width: 260px;
      }
}

.news-item__time-wrapper{
    flex: 0 0 100px;
    width: 100px;
    margin-right: 2.5em;

    @include mq('sp'){
        margin-right: 1.5em;
    }

    @media all and (-ms-high-contrast: none) {
        margin-right: 1em;
    }

    
}

.news-item__time{
    font-size: 1.125em;
    display: inline-block;
    letter-spacing: 0.45px;

    @include mq('sp'){
        font-size: 0.875em;
    }
}

.news-item__title{
    flex: 0 0 120px;
    width: 120px;
    font-size: 0.875em;
    text-align: center;
    padding: 0.15em 2em ;
    border: 2px solid $color-blue;
    border-radius: 50px;

    @include mq('sp'){
        font-size: 0.75em;
    }

    @media all and (-ms-high-contrast: none) {
        line-height: 1;
        padding: 0.3em .5em 0.15em;
    }
}

.news-item__content{
    flex: 0 1 calc(100% - 260px - 40px);
    font-weight: 1.125em;

    @include mq('sp'){
        font-size: 0.875em;
        width: 100%;
    }

    @media all and (-ms-high-contrast: none) {
        flex: 0 2 70%;

      }
}

// =======================
//  service
// =======================

.service{
    margin-bottom: 3.75em;
    background:linear-gradient(180deg, $primary-color 0%,$primary-color 72%,transparent 72%,transparent 100%);

    @include mq('sp'){
        margin-bottom: 0.75em;
        background:linear-gradient(180deg, $primary-color 0%,$primary-color 50%,transparent 50%,transparent 100%);
    }
}

.service__items{
    background: #fff;
    padding: 4.375em 2.8em 3.75em;
    display: flex;
    box-shadow: 0px 5px 12px #3E3E3E33;

    @include mq('sp'){
        padding: 2.5em 1em;
        display: block;
    }
}

.service__item{
    flex: 0 1 calc(33.3333% - 60px);
    margin-right: 5.625em;

    &:last-of-type{
        margin-right: 0;
    }

    @include mq('sp'){
        margin-right: 0;
        width: 100%;
        margin-bottom: 2.5em;
    }
}



.service-item__img-wrapper{
    width: 45px;
    margin: 0 auto 1em;
    height: 40px;

}

.service-item__img{
    
}

.service-item__title{
    margin-bottom: 1em;
    font-size: 1.25em;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;

}

.service-item__desc{
    font-size: 0.875em;

}

// =======================
//  results
// =======================

.results{
    margin-left: 2.5em;
    margin-bottom: 3.75em;

    @include mq('sp'){
        margin-left: 0;
        margin-bottom: 0;
    }
}

.results__inner{
    box-sizing: content-box;
    background-color: $primary-color;
    padding: 3.75em 0 3.75em 3.75em;

    @include mq('sp'){
        padding: 2.5em 0 2.5em 1em;
    }
}

.results__title{
    @include mq('sp'){
        text-align: center;
    }
}

.result-items__wrapper{
    margin-bottom: 2.5em;

    @include mq('sp'){
        margin-bottom: 1.5em;
    }
}

.result-item__link{
    display: block;
}

.result-item__body{
    background: #fff;
    padding: 0.625em 1em 1em;
}

.result-item__title{
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.5em;

    @include mq('sp'){
        font-size: 0.875em;
        margin-bottom: 0.7em;
    }
}

.result-item__desc{

    @include mq('sp'){
        font-size: 0.75em;
    }
}

.swiper-pagination{
    position: static;
    text-align: left;
    padding-left: 4px;
}


.results__pagination{
    margin-bottom: 2.25em;

    @include mq('sp'){
        text-align: center;
        margin-bottom: 1.5em;
    }
}


.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background: #fff;
    margin-right: 1.25em;
    position: relative;
    opacity: 0.9;

    &:focus{
        outline: none;
    }
}

.swiper-pagination-bullet-active{
    opacity: 1;
}

.swiper-pagination-bullet-active::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.results__button-wrapper{

    @include mq('sp'){
        padding: 0 1.875em;
    }
}

.results__button{
    @include mq('sp'){
        width: 100%;
    }
}

// =======================
//  price
// =======================

.price{
    @include mq('sp'){
        padding-bottom: 1.875em;
    }
}

.price__table{
    width: 100%;
    table-layout: fixed;
    border: 1px solid $border-color;
    border-collapse: collapse;
    background: #fff;
    margin-bottom: 0.75em;
}

.price-table__header,.price-table__data{
    padding: 0.7em 1.67em;
    border: 1px solid $border-color;
    vertical-align: middle;
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: bold;

    @include mq('sp'){
        font-size: 1.25em;
        padding: 0.8em 1em;
    }
}

.price-table__header{
    background: $primary-color;
    color: #fff;
    text-align: center;
    width: 260px;

    @include mq('sp'){
        width: 100px;
    }
}

.price__desc{
    font-size: 0.75em;
}

// =======================
//  comments
// =======================

.bg{
    position: relative;

    &::after{
        position: absolute;
        content: '';
        width: 76.5625%;
        top: 8%;
        bottom: 8%;
        background: $primary-color;
        z-index: -5;

        @include mq('sp'){
            width: 100%;
            height: 100%;
            top: 5%;
            bottom: 0;
        }
    }
}

.comments{
    margin-bottom: 3.75em;
    padding-top: 3.125em;

    @include mq('sp'){
        padding-top: 1.875em;
        margin-bottom: 0.75em;
    }
}

.comments__wrapper{
    display: flex;
    align-items: center;

    @include mq('sp'){
        display: block;
    }
}


.comments__box{
    flex: 0 1 55.5%;
    background: #fff;
    padding: 7.5em 3.75em;
    box-shadow: 0px 0px 10px #00000029;

    @include mq('sp'){
        padding: 2.5em 1.25em;
    }
}

.comment-item{
    display: flex;
    align-items: center;
    margin-bottom: 3.75em;

    &:last-of-type{
        margin-bottom: 0;
    }
}

.comment-item__img-element{
    flex: 0 1 100px;
    margin-right: 2em;

    @include mq('sp'){
        flex: 0 1 60px;
        margin-right: 1.25em;
    }

    
}

.comment-item__img-wrapper{
    padding-top: 100%;
    position: relative;
}

.comment-item__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.comment-item__comment-wrapper{
    flex: 0 1 calc(100% - 132px);

    @include mq('sp'){
        flex: 0 1 calc(100% - 80px);
    }

    @media all and (-ms-high-contrast: none) {
        flex: 0 2 500px;
    }
}

.comments__img-wrapper{
    flex: 0 1 44.5%;
}

// =======================
//  faqs
// =======================

.faqs{
    background: url(../img/qa-bg.png) no-repeat center /cover;
    background-attachment: fixed;
    padding-bottom: 6.9375em;

    @include mq('sp'){
        padding-bottom: 3.75em;
        background-attachment: scroll;
    }
}

.faqs__title{
    margin-bottom: em;
}

.faqs__items{
    width: 51%;
    margin-left: auto;

    @include mq('sp'){
        width: 100%;
    }
}

.faqs__item{
    margin-bottom: 2em;

    &:last-of-type{
        margin-bottom: 0;
    }

    @include mq('sp'){
        margin-bottom: 1.5em;
    }
}

.faq-item{
    background: #fff;
    border-radius: 4px;

}

.faq-item__question-wrapper{
    padding: 1em;
    border-radius: 4px;
}

.faq-item__question{
    padding-left: 35px;
    padding-right: 20px;
    font-weight: bold;
    position: relative;

    &::before{
        position: absolute;
        content: "Q";
        top: 50%;
        left: 2px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        color: #fff;
        background: $color-blue;
        border-radius: 50%;
        text-align: center;
    }

    
}

.faq-item__icon-wrapper{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.faq-item__icon{
    vertical-align: middle;
}

.faq-item__answer-wrapper{
    padding: 0 1em 1em 1em;
    display: none;
}

.faq-item__answer{
    padding: 0.75em 1em ;
    background: #3B69FF33;
    border-radius: 4px;

    @media all and (-ms-high-contrast: none) {
        background: rgba(165, 195, 252, 0.5);
    }
}

// =======================
//  access
// =======================

.access{
    padding-top: 7.5em;
    margin-bottom: 3.75em;

    @include mq('sp'){
        padding-top: 2.5em;
        margin-bottom: 0.75em;
    }
}

.access__contents-wrapper{
    display: flex;
    align-items: flex-start;

    @include mq('sp'){
        display: block;
    }
}

.access__contents{
    box-sizing: content-box;
    flex: 0 2 314px;
    margin-right: 7.8%;
    padding-left: 60px;
    color: #fff;

    @include mq('sp'){
        padding-left: 0;
        margin-right: 0;
        margin-bottom: 1.5em;
    }
}

.access__address{
    margin-bottom: 2em;
}

.access__button{
    width: 100%;
    padding: 1em 1em;
    font-weight: 600;
}

.access__map-container{
    flex: 0 1 calc(100% - 7.8% - 314px);

    @include mq('sp'){
        width: 100%;
        margin-bottom: 1.5em;
    }

    @media all and (-ms-high-contrast: none) {
        flex: 0 2 800px;
    }
}

.access__map-wrapper{
    position: relative;
    padding-top: 520px;
    width: 100%;
    height: 100%;

    @include mq('sp'){
        padding-top: 70.26%;
    }
}

.access__map{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: none;
}

// =======================
//  contact
// =======================

.contact{
    background: url(../img/contact-bg.png) no-repeat center / cover;
    padding: 3.75em 0;

    @include mq('sp'){
        padding: 2.5em 0;
    }
}

.form{
}

.form__heading{
    background: url(../img/contact1.png) no-repeat center /cover;
    padding: 3.75em 0;
    border-radius: 12px 12px 0px 0px;

    @include mq('sp'){
        padding: 2.5em 1em;
    }
}

.form__title{
    margin-bottom: 0.4em;
}

.form__desc{
    color: #fff;
    text-align: center;

    @include mq('sp'){
        font-size: 0.875em;
    }
}

.form__body{
    background: #fff;
    padding: 3.75em 7.5em;
    border-radius:0 0 12px 12px;

    @include mq('sp'){
        padding: 2.5em 0.75em;
    }
}

.form-item{
    display: flex;
    align-items: center;
    margin-bottom: 1.75em;

    @include mq('sp'){
        display: block;
    }
}

.form-item--display_block{
    display: block;
}

.form-item__label-wrapper{
    flex: 0 1 150px;
    margin-right: 2.375em;

    @include mq('sp'){
        margin-right: 0;
        margin-bottom: 0.5em;
    }

    @media all and (-ms-high-contrast: none) {
        flex: 0 1 160px;
    }
}

.form-item__label{
    font-weight: bold;
}

.form-item__label--required{
    padding-right: 3.25em;
    position: relative;

    &::after{
        content: "必須";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        color: #fff;
        background: $color-red;
        width: 40px;
        text-align: center;
        font-size: 0.75em;
        padding: 1px 4px;
        border-radius: 2px;
    }
}

.form-item__input-wrapper{
    flex: 0 1 calc(100% - 188px);

    @media all and (-ms-high-contrast: none) {
        flex: 0 2 100%;
    }
}

.form-item__pull-down{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent url(https://haniwaman.com/wp/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
    border: 1px solid#707070;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    padding: 0.4em 0.8em;
    width: 178px;
    transition: all .3s;

    @include mq('sp'){
        width: 100%;
    }

    &:hover{
        box-shadow: 0px 0px 5px  #4973FF80 ;
    }
}

.form-item__pull-down:focus {
    border: 1px solid#707070;
    box-shadow: none;
    outline: none;
  }

.form-item__pull-down::-ms-expand{
    display: none;
}

.form-item__input {
	width: 100%;
	padding: .5em .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	color: inherit;
	font-family: inherit;
	font-size: 1em;
    height: 100%;
    display: block;
    border-bottom: 1px solid $border-color;
    transition: all .3s;

    &:hover{
        border-bottom: 1px solid #4973FF;
        box-shadow: 0px 5px 5px -5px #4973FF80;
    }


    &::-webkit-input-placeholder{
        font-size: 0.875em;
    }

    &::-moz-placeholder{
        font-size: 0.875em;
    }

    &:-ms-input-placeholder{
        font-size: 0.875em;
    }

    &::-ms-input-placeholder{
        font-size: 0.875em;
    }

    &::placeholder{
        font-size: 0.875em;
    }

    @include mq('sp'){
        padding: .2em 0;
    }
}

.form-item__radio-wrapper{
    margin-right: 2em;

    &:hover{
        .form-item__radio-label::before{
            border: 1px solid#4973FF;
        }
    }

    &:active{
        .form-item__radio-label::before{
            background: #4973FF33;
        }
    }

    

    &:last-of-type{
        margin-right: 0;
    }
}


.form-item__radio-label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.2em 0;
    padding: 0 0 0 1.2em;
    position: relative;
}

.form-item__radio-label::before {
    -webkit-transform: translateY(-50%);
    background: #fff;
    border: 1px solid #707070;
    border-radius: 50%;
    content: "";
    display: block;
    height: 12px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    transition: all .3s;
}

.form-item__radio-label::after {
    -webkit-transform: translateY(-50%);
    background: $color-blue;
    border: 1px solid transparent;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 3px;
    opacity: 0;
    padding: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    width: 6px;
}

.form-item__radio {
    display: none;

    &:focus + .form-item__radio-label::before{
        background: #000;
    }
  }
  

.form-item__radio:checked + .form-item__radio-label::after {
opacity: 1;
}

.form-item__textarea {
	width: 100%;
	padding: .5em .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: none;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 1em;
    height: 200px;
    display: block;
    border: 1px solid #707070;
    transition: all .3s;

    &:hover,&:focus{
        border: 1px solid #4973FF;
        box-shadow: 0px 0px 8pt 0px#4973FF80;
    }

    @include mq('sp'){
        height: 160px;
    }

}


.form__agree-wrapper{
    margin-bottom: 2.5em;

    @include mq('sp'){
        margin-bottom: 1.5em;
    }
}

.form__agree-input{
    display: none;

    &:checked + .form__agree-label::after{
       opacity: 1; 
    }
}

.form__agree-label{
    display: inline-block;
    position: relative;
    padding-left: 30px; 
    font-weight: bold;

    &::before{
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: #fff;
        border: 1px solid #707070;
        transition: all .3s;

        @include mq('sp'){
            width: 18px;
            height: 18px;
        }
    }

    &::after{
        -webkit-transform: translateY(-50%) rotate(-45deg);
        border-bottom: 2px solid $color-blue;
        border-left: 2px solid $color-blue;
        content: "";
        display: block;
        height: 8px;
        left: 3px;
        opacity: 0;
        position: absolute;
        top: 50%;
        margin-top: -2px;
        transform: translateY(-50%) rotate(-45deg);
        transition: all 0.3s ease 0s;
        width: 14px;
    }

    &:active::before{
        background: #4973FF33;
    }

    &:hover::before{
        border: 1px solid #4973FF;
    }
}


// inputの背景色の無効化
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.form__end-message{
    display: none;
    padding: 1em 0;
    background: #f8f9fa;
    font-size: 1.125em;
    text-align: center;
}

.form__false-message{
    display: none;
    padding: 1em 0;
    background: #f8f9fa;
    font-size: 1.125em;
    text-align: center;
    color: #ff0000;
}

.form__button:disabled{
    background-color: #ccc;
    border-color: #ccc;
    color: #fff;
}

// =======================
//  footer
// =======================

.footer{
    background-color: $primary-color;
    color: #fff;
    padding: 3.75em 0;
}

.footer__inner{
    box-sizing: content-box;
    padding: 0 1em;
    margin: 0 auto;
    max-width: 960px;
}

.footer__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include mq('sp'){
        display: block;
        text-align: center;
    }
}

.footer__sns-items{
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;

    @include mq('sp'){
        justify-content: center;
    }
}

.footer__sns-item{
    margin-right: 2em;

    &:last-of-type{
        margin-right: 0;
    }
}

.footer__sns-link{
    transition: all .3s;
    display: block;

    &:hover{
        opacity: .7;
    }
}

.footer__sns-icon{
    opacity: .6;
}

.footer__menu{
    
    @include mq('sp'){
        margin-bottom: 2.5em;
    }
}

.footer__item{
    margin-bottom: 1em;
    letter-spacing: .4px;

    &:last-of-type{
        margin-bottom: 0;
    }

    @include mq('sp'){
        margin-bottom: 1.25em;
    }
}

.footer__link{
    transition: all .3s;

    &:hover{
        opacity: .7;
    }

    @include mq('sp'){
        font-size: 0.875em;
    }
}

.footer__heading{
    text-align: right;

    @include mq('sp'){
        text-align: center;
    }
}

.footer__name{
    font-size: 2.5em;
    color: #E3E3E3;
    font-weight: bold;

    @include mq('sp'){
        font-size: 2em;
    }
}

.footer__copyright{
    font-size: 0.75em;
    opacity: .6;
}


// =======================
//  totop
// =======================

.totop-button-wrapper{
    position: fixed;
    right: 2.5em;
    bottom: 2.5em;
    cursor: pointer;
    z-index: 400;

    @include mq('sp'){
        right: 1em;
        bottom: 0.81em;
    }
}